body {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(75, 75, 75);
  color: white; 
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
